{% extends 'base.html' %}

{% block content %}

<h1>Add a song to {{ playlist.name }}</h1>

<h1>Add a form that when submitted adds a song to this playlist!</h1>
<form action="/playlists/{{playlist.id}}/add-song" method="POST">
    {{ csrf_token }}
    {{ form.hidden_tag() }}
    <form action="/songs/add" method="POST">
        {{ csrf_token }}
        {{ form.hidden_tag() }}
       
    
        {% for field in form if field.widget.input_type != 'hidden' %}
        {{field.label}}
        {{field}}
        {% endfor %}
   
        <button href="" class="btn btn-primary">Submit</button>
      </form>
  </form>
{% endblock %}